<!DOCTYPE html>
<html>
<head>
    <title>用户列表</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="/stylesheets/index-theme.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/easyUI/themes/metro/easyui.css">
    <link rel="stylesheet" type="text/css" href="/easyUI/themes/icon.css">
    <style type="text/css">

    </style>
    <script type="text/javascript" src="/javascripts/jquery.js"> </script>
    <!-- // <script src="/javascripts/jquery.min.js" type="text/javascript"></script>  -->
    <script type="text/javascript" src="/easyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="/javascripts/tools.js" type="text/javascript"></script>  
</head>
<body>
    <h2 class="main_page_title">用户列表</h2>
    <div class="demo-info">
        <div class="demo-tip icon-tip"></div>
        <div>增加和删除系统用户</div>
    </div>
    <div style="margin:10px 0;"></div>
    

    <div id="tb">
        <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="refresh_grid()">刷新</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="insert()">增加</a>
        <!-- <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="resetpwd()">重置密码</a> -->
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteRows()">删除</a>
        <!-- <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="test()">测试</a>         -->
    </div>
    <table id = "grid1"></table>

    <script type="text/javascript">
    var toolbar = $('#tb');
    var grid1 = $('#grid1');

    $(function(){
            $('#grid1').datagrid({
                title:'列表',
                iconCls:'icon-edit',
                width:'auto',
                height:'auto',
                fitColumns:true,
                singleSelect:true,
                idField:'userID',
                toolbar: '#tb',
                url:'/userList',
                columns:[[
                    {field:'userID',title:'账号',width:60,align:'center',
                        editor:{
                            type:'text',
                            options:{
                                required:true
                            }
                        }
                    },

                    {field:'userName',title:'用户名称',width:80,align:'center',
                        editor:{
                            type:'text',
                            options:{
                                required:true
                            }
                        }
                    },

                    {field:'email',title:'邮箱',width:80,align:'center',
                        editor:{
                            type:'text',
                            options:{
                                required:true
                            }
                        }
                    },

                    // {field:'resource_note',title:'说明',width:180,editor:'text'},
                    {field:'action',title:'',width:50,align:'center',
                        formatter:function(value,row,index){
                            if (row.editing){
                                var s = '<a href="#" onclick="saverow(this)">保存</a> ';
                                var c = '<a href="#" onclick="cancelrow(this)">取消</a>';
                                return s+c;
                            } else {
                                var e = '<a href="#" onclick="editrow(this)">编辑</a> ';
                                return e;
                            }
                        }
                    }
                ]],
                // rowStyler: function(index,row){
                //     if ((index % 2) != 0){
                //         return 'background-color:#f3f3f3;color:#000;';
                //     }
                // },

                onBeforeEdit:function(index,row){
                    row.editing = true;
                    updateActions(index);
                },
                onAfterEdit:function(index,row){
                    row.editing = false;
                    updateActions(index);
                },
                onCancelEdit:function(index,row){
                    row.editing = false;
                    updateActions(index);
                }
            });
        });

    function updateActions(index){
        grid1.datagrid('updateRow',{
            index: index,
            row:{}
        });
    }
    function getRowIndex(target){
        var tr = $(target).closest('tr.datagrid-row');
        return parseInt(tr.attr('datagrid-row-index'));
    }
    function editrow(target){
        grid1.datagrid('beginEdit', getRowIndex(target));
    }

    function saverow(target)
    {
        var index = getRowIndex(target);
        grid1.datagrid('endEdit', index);
        var rows = grid1.datagrid('getRows');
        var row = rows[index];
        if(row.userID == undefined || row.userID == '' || row.userName == undefined || row.userName == ''){
            $.messager.alert('提示','用户账号和名称是必须填写的！','info');
            grid1.datagrid('beginEdit', index);
            return;
        }
        else{
            var json = {userID: row.userID, userName: row.userName, email: row.email};
            $.ajax({
                url: "/addUser",
                data: json,
                // data: JSON.stringify(json),
                // data: { data: JSON.stringify(json) },
                type: "post",
                // contentType: "text/plain",
                success: function (text) {
                    // alert(text);
                    if(text == "ok")
                    {
                        $.messager.alert('提示','操作成功！');               
                    }
                    else if(text == 'duplicated')
                    {
                        $.messager.alert('提示','用户账号已经被使用！', 'warning');             
                    }else{
                        $.messager.alert('提示','操作出现异常！', 'warning');             

                    }
                    refresh_grid();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                }
            });
            refresh_grid();
        }
    }
    function cancelrow(target){
        refresh_grid();
    }
    function refresh_grid()
    {
        grid1.datagrid('reload');
    }        
    function insert(){
        var row = grid1.datagrid('getSelected');
        if (row){
            var index = grid1.datagrid('getRowIndex', row);
        } else {
            index = 0;
        }
        if(index < 0) index = 0;
        grid1.datagrid('insertRow', {
            index: index,
            row:{
                // status:'P'
            }
        });
        grid1.datagrid('selectRow',index);
        grid1.datagrid('beginEdit',index);
    }
    function deleteRows()
    {
        $.messager.confirm('确认','删除该信息将无法恢复，确定删除吗？',function(r){
            if (r){
                var rows = grid1.datagrid('getSelections');
                if(rows.length > 0){
                    var json = {userID: rows[0].userID};
                    $.ajax({
                        url: "/deleteUser",
                        // contentType: "text/plain",
                        // data: JSON.stringify(json),
                        data: json,
                        type: "post",
                        success: function (text) {
                            if(text == "ok")
                            {
                                $.messager.alert('提示','操作成功！','info');
                            }
                            else
                            {
                                $.messager.alert('提示','操作出现异常！','info');
                            }
                            refresh_grid();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(jqXHR.responseText);
                            refresh_grid();
                        }
                    });                
                    refresh_grid();                    
                }

            }
        });     
    }   
    function resetpwd(){
        $.messager.confirm('确认','删除该信息将无法恢复，确定删除吗？',function(r){
            if (r){
                var rows = grid1.datagrid('getSelections');
                if(rows.length > 0){
                    var json = {userID: rows[0].userID};
                    $.ajax({
                        url: "/deleteUser",
                        // contentType: "text/plain",
                        // data: JSON.stringify(json),
                        data: json,
                        type: "post",
                        success: function (text) {
                            if(text == "ok")
                            {
                                $.messager.alert('提示','操作成功！','info');
                            }
                            else
                            {
                                $.messager.alert('提示','操作出现异常！','info');
                            }
                            refresh_grid();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(jqXHR.responseText);
                            refresh_grid();
                        }
                    });                
                    refresh_grid();                    
                }

            }
        });           
    }
    </script>
    <div class="description">
        <h3>说明</h3>
        <p></p>
    </div>


 
</body>
</html>