<!DOCTYPE HTML>
<html>
<head>
<title></title>
<meta http-equiv=Content-Type content=text/html;charset=utf-8>
	<style type="text/css">
		.versionTitle{
			font-size: 20px;
			margin-top: 20px;
			color: rgb(128,128,128);
			margin-left: 5px;
			margin-bottom: 10px;
			border-bottom: solid 2px rgba(68,98,130,0.8);
			padding-bottom: 8px;
		}
		.versionDate{
			margin-top: 3px;
			font-size: 12px;
			margin-left: 12px;
		}
		.featureContainer{
			margin-left: 15px;
		}
		.feature{
			font-size: 15px;
			margin-bottom: 8px;
		}
		.dot{
			margin-right: 5px;
		}
	</style>
</head>
<body>
	<div class="versionTitle">V1.1.1<span class="versionDate">2014-4-26</span></div>
	<div class="featureContainer">
		<div class="feature"><span class="dot">*</span>添加车辆时只能选择预定车辆类型</div>
		<div class="feature"><span class="dot">*</span>单号查询中显示当前用户的单号</div>
		<div class="feature"><span class="dot">*</span>支持查看系统更新记录</div>
		<div class="feature"><span class="dot">*</span>管理员登陆可以管理系统普通用户，普通用户无此功能</div>
	</div>


	<div class="versionTitle">V1.1.0<span class="versionDate">2014-4-15</span></div>
	<div class="featureContainer">
		<div class="feature"><span class="dot">*</span>支持外部订单的绑定和位置监控</div>
		<div class="feature"><span class="dot">*</span>支持绑定订单的状态查询</div>
		<div class="feature"><span class="dot">*</span>支持重置用户密码</div>
	</div>


	<div class="versionTitle">V1.0.0<span class="versionDate">2014-3-15</span></div>
	<div class="featureContainer">
		<div class="feature"><span class="dot">*</span>支持车辆管理和车辆监控</div>
		<div class="feature"><span class="dot">*</span>支持车辆路径回放</div>
		<div class="feature"><span class="dot">*</span>支持用户管理</div>
	</div>
</body>
</html>
