/*=============
  Framework 7
=============*/
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  line-height: 1.35;
  width: 100%;
  overflow: hidden;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
a,
input,
textarea,
select {
  outline: 0;
}
a {
  text-decoration: none;
  color: #007aff;
}
p {
  margin: 1em 0px;
}
/* === Grid === */
.grid-4 {
  overflow: hidden;
  clear: both;
}
.grid-4 .col {
  float: left;
  margin-left: 2.5%;
  width: 23.125%;
}
.grid-4 .col:first-child {
  margin-left: 0;
}
.grid-3 {
  clear: both;
  overflow: hidden;
}
.grid-3 .col {
  float: left;
  margin-left: 2.5%;
  width: 31.66666666666667%;
}
.grid-3 .col:first-child {
  margin-left: 0;
}
.grid-2 {
  clear: both;
  overflow: hidden;
}
.grid-2 .col {
  float: left;
  margin-left: 2.5%;
  width: 48.75%;
}
.grid-2 .col:first-child {
  margin-left: 0;
}
/* === Views === */
.views,
.view {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 5000;
}
.view {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* === Pages === */
.pages {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}
.page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background: #efeff4;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.page-on-left {
  opacity: 0.8;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  -webkit-transform: translate3d(-20%, 0, 0);
  -moz-transform: translate3d(-20%, 0, 0);
  -ms-transform: translate3d(-20%, 0, 0);
  -o-transform: translate3d(-20%, 0, 0);
  transform: translate3d(-20%, 0, 0);
}
.page-on-center {
  opacity: 1;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.page-on-right {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  opacity: 1;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.page-content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
.page-from-right-to-center {
  -webkit-animation: pageFromRightToCenter 400ms forwards;
  -moz-animation: pageFromRightToCenter 400ms forwards;
  -ms-animation: pageFromRightToCenter 400ms forwards;
  -o-animation: pageFromRightToCenter 400ms forwards;
  animation: pageFromRightToCenter 400ms forwards;
}
.page-from-center-to-right {
  -webkit-animation: pageFromCenterToRight 400ms forwards;
  -moz-animation: pageFromCenterToRight 400ms forwards;
  -ms-animation: pageFromCenterToRight 400ms forwards;
  -o-animation: pageFromCenterToRight 400ms forwards;
  animation: pageFromCenterToRight 400ms forwards;
}
@-webkit-keyframes pageFromRightToCenter {
  from {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
}
@-webkit-keyframes pageFromCenterToRight {
  from {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
  to {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
.page-from-center-to-left {
  -webkit-animation: pageFromCenterToLeft 400ms forwards;
  -moz-animation: pageFromCenterToLeft 400ms forwards;
  -ms-animation: pageFromCenterToLeft 400ms forwards;
  -o-animation: pageFromCenterToLeft 400ms forwards;
  animation: pageFromCenterToLeft 400ms forwards;
}
.page-from-left-to-center {
  -webkit-animation: pageFromLeftToCenter 400ms forwards;
  -moz-animation: pageFromLeftToCenter 400ms forwards;
  -ms-animation: pageFromLeftToCenter 400ms forwards;
  -o-animation: pageFromLeftToCenter 400ms forwards;
  animation: pageFromLeftToCenter 400ms forwards;
}
@-webkit-keyframes pageFromCenterToLeft {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
  to {
    opacity: 0.8;
    -webkit-transform: translate3d(-20%, 0, 0);
    -moz-transform: translate3d(-20%, 0, 0);
    -ms-transform: translate3d(-20%, 0, 0);
    -o-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
}
@-webkit-keyframes pageFromLeftToCenter {
  from {
    opacity: 0.8;
    -webkit-transform: translate3d(-20%, 0, 0);
    -moz-transform: translate3d(-20%, 0, 0);
    -ms-transform: translate3d(-20%, 0, 0);
    -o-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
}
/* === Toolbars === */
.toolbar-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.toolbar-top,
.toolbar-bottom {
  height: 44px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f5f5f5;
  font-size: 17px;
  position: relative;
  margin: 0;
  z-index: 500;
}
.toolbar-top b,
.toolbar-bottom b {
  font-weight: 500;
}
.toolbar-top a,
.toolbar-bottom a {
  /*display: block;*/
  /*line-height: 44px;*/
  color: #007aff;
  text-decoration: none;
  /*vertical-align: middle;*/
  /*display: inline-block;*/
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.toolbar-top a:active,
.toolbar-bottom a:active {
  opacity: 0.3;
  -webkit-transition: 0ms;
  -moz-transition: 0ms;
  -ms-transition: 0ms;
  -o-transition: 0ms;
  transition: 0ms;
}
.toolbar-top a span,
.toolbar-bottom a span {
  display: inline-block;
  vertical-align: middle;
}
.toolbar-top a i + span,
.toolbar-bottom a i + span,
.toolbar-top a i + i,
.toolbar-bottom a i + i {
  margin-left: 6px;
}
.toolbar-top {
  left: 0;
  top: 0;
  border-bottom: 1px solid #c4c4c4;
}
.toolbar-top h1 {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-flex-shrink: 10;
  flex-shrink: 10;
  margin: 0 10px;
  width: 100%;
  line-height: 43px;
}
.toolbar-top .links-left,
.toolbar-top .links-right {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  min-width: 40px;
}
.toolbar-top .links-left a + a,
.toolbar-top .links-right a + a {
  margin-left: 15px;
}
.toolbar-top .links-right {
  text-align: right;
}
.toolbar-top .toolbar-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.toolbar-bottom {
  left: 0;
  bottom: 0;
  border-top: 1px solid #c4c4c4;
}
.toolbar-bottom a {
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.page > .toolbar-top,
.view > .toolbar-top,
.page > .toolbar-bottom,
.view > .toolbar-bottom {
  position: absolute;
}
.toolbar-top-through .page {
  padding-top: 44px;
}
.toolbar-bottom-through .page {
  padding-bottom: 44px;
}
.page.toolbar-top-fixed {
  padding-top: 44px;
}
.page.toolbar-bottom-fixed {
  padding-bottom: 44px;
}
.toolbar-top-fixed .page {
  padding-top: 44px;
}
.toolbar-bottom-fixed .page {
  padding-bottom: 44px;
}
.toolbar-from-right-to-center .links-left,
.toolbar-from-right-to-center .links-right,
.toolbar-from-right-to-center h1 {
  -webkit-animation: toolbarElementFadeIn 400ms forwards;
  -moz-animation: toolbarElementFadeIn 400ms forwards;
  -ms-animation: toolbarElementFadeIn 400ms forwards;
  -o-animation: toolbarElementFadeIn 400ms forwards;
  animation: toolbarElementFadeIn 400ms forwards;
}
.toolbar-from-right-to-center .sliding {
  -webkit-animation: toolbarElementSlideRC 400ms forwards;
  -moz-animation: toolbarElementSlideRC 400ms forwards;
  -ms-animation: toolbarElementSlideRC 400ms forwards;
  -o-animation: toolbarElementSlideRC 400ms forwards;
  animation: toolbarElementSlideRC 400ms forwards;
}
.toolbar-from-center-to-right .links-left,
.toolbar-from-center-to-right .links-right,
.toolbar-from-center-to-right h1 {
  -webkit-animation: toolbarElementFadeOut 400ms forwards;
  -moz-animation: toolbarElementFadeOut 400ms forwards;
  -ms-animation: toolbarElementFadeOut 400ms forwards;
  -o-animation: toolbarElementFadeOut 400ms forwards;
  animation: toolbarElementFadeOut 400ms forwards;
}
.toolbar-from-center-to-right .sliding {
  -webkit-animation: toolbarElementSlideCR 400ms forwards;
  -moz-animation: toolbarElementSlideCR 400ms forwards;
  -ms-animation: toolbarElementSlideCR 400ms forwards;
  -o-animation: toolbarElementSlideCR 400ms forwards;
  animation: toolbarElementSlideCR 400ms forwards;
}
@-webkit-keyframes toolbarElementFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes toolbarElementSlideRC {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
}
@-webkit-keyframes toolbarElementSlideCR {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
.toolbar-from-center-to-left .links-left,
.toolbar-from-center-to-left .links-right,
.toolbar-from-center-to-left h1 {
  -webkit-animation: toolbarElementFadeOut 400ms forwards;
  -moz-animation: toolbarElementFadeOut 400ms forwards;
  -ms-animation: toolbarElementFadeOut 400ms forwards;
  -o-animation: toolbarElementFadeOut 400ms forwards;
  animation: toolbarElementFadeOut 400ms forwards;
}
.toolbar-from-center-to-left .sliding {
  -webkit-animation: toolbarElementSlideCL 400ms forwards;
  -moz-animation: toolbarElementSlideCL 400ms forwards;
  -ms-animation: toolbarElementSlideCL 400ms forwards;
  -o-animation: toolbarElementSlideCL 400ms forwards;
  animation: toolbarElementSlideCL 400ms forwards;
}
.toolbar-from-left-to-center .links-left,
.toolbar-from-left-to-center .links-right,
.toolbar-from-left-to-center h1 {
  -webkit-animation: toolbarElementFadeIn 400ms forwards;
  -moz-animation: toolbarElementFadeIn 400ms forwards;
  -ms-animation: toolbarElementFadeIn 400ms forwards;
  -o-animation: toolbarElementFadeIn 400ms forwards;
  animation: toolbarElementFadeIn 400ms forwards;
}
.toolbar-from-left-to-center .sliding {
  -webkit-animation: toolbarElementSlideLC 400ms forwards;
  -moz-animation: toolbarElementSlideLC 400ms forwards;
  -ms-animation: toolbarElementSlideLC 400ms forwards;
  -o-animation: toolbarElementSlideLC 400ms forwards;
  animation: toolbarElementSlideLC 400ms forwards;
}
.toolbar-on-left .links-left,
.toolbar-on-left .links-right,
.toolbar-on-left h1 {
  opacity: 0;
}
.toolbar-on-left .sliding {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.toolbar-on-right .links-left,
.toolbar-on-right .links-right,
.toolbar-on-right h1 {
  opacity: 0;
}
.toolbar-on-right .sliding {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
@-webkit-keyframes toolbarElementFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes toolbarElementSlideCL {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes toolbarElementSlideLC {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
}
/* === Icons === */
i {
  display: inline-block;
  vertical-align: middle;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
i.icon-back-blue {
  background-image: url(../Image/framework7/i-back-blue.png);
  width: 11px;
  height: 20px;
}
i.icon-back-white {
  background-image: url(../Image/framework7/i-back-white.png);
  width: 11px;
  height: 20px;
}
i.icon-back-black {
  background-image: url(../Image/framework7/i-back-black.png);
  width: 11px;
  height: 20px;
}
i.icon-bars-blue {
  background-image: url(../Image/framework7/i-bars-blue.png);
  width: 20px;
  height: 14px;
}
i.icon-f7 {
  width: 29px;
  height: 29px;
  background-image: url(../Image/framework7/i-f7.png);
}
i.icon-name {
  width: 29px;
  height: 29px;
  background-image: url(../Image/framework7/i-form-name.png);
}
i.icon-password {
  width: 29px;
  height: 29px;
  background-image: url(../Image/framework7/i-form-password.png);
}
i.icon-email {
  width: 29px;
  height: 29px;
  background-image: url(../Image/framework7/i-form-email.png);
}
i.icon-birthday {
  width: 29px;
  height: 29px;
  background-image: url(../Image/framework7/i-form-birthday.png);
}
i.icon-tel {
  width: 29px;
  height: 29px;
  background-image: url(../Image/framework7/i-form-tel.png);
}
i.icon-gender {
  width: 29px;
  height: 29px;
  background-image: url(../Image/framework7/i-form-gender.png);
}
i.icon-toggle {
  width: 29px;
  height: 29px;
  background-image: url(../Image/framework7/i-form-toggle.png);
}
i.icon-about {
  width: 29px;
  height: 29px;
  background-image: url(../Image/framework7/i-form-about.png);
}
i.icon-normalCar {
  width: 29px;
  height: 29px;
  background-image: url(../Image/normalCar.png);  
}
i.icon-truck {
  width: 29px;
  height: 29px;
  background-image: url(../Image/truck.png);  
}
/* === Content Block === */
.content-block {
  margin: 35px 0;
  padding: 0 15px;
  font-size: 14px;
  color: #8f8f94;
}
.content-block-title {
  position: relative;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  text-overflow: hidden;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 12px;
  color: #8f8f94;
  margin-top: -17px;
}
.content-block-inner {
  background: #fff;
  padding: 10px 15px;
  margin-left: -15px;
  width: 100%;
  border-bottom: 1px solid #c8c7cc;
  border-top: 1px solid #c8c7cc;
  color: #000;
}
/* === Lists === */
.list-panel {
  margin: 35px 0;
  font-size: 17px;
}
.list-panel ul {
  background: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc;
}
.list-panel ul ul {
  border-top: none;
  border-bottom: none;
  padding-left: 45px;
}
.list-panel ul ul li:last-child .inner {
  border-bottom: 1px solid #c8c7cc;
}
.list-panel li {
  /*height: 44px;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 29px;
  padding-left: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.list-panel .icons {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.list-panel .icons i {
  width: 29px;
  height: 29px;
}
.list-panel .icons i + i {
  margin-left: 5px;
}
.list-panel .icons + .inner {
  margin-left: 15px;
}
.list-panel .icons,
.list-panel .inner {
  display: block;
}
.list-panel .inner {
  padding-top: 7px;
  padding-bottom: 8px;
  padding-right: 15px;
  border-bottom: 1px solid #c8c7cc;
  width: 100%;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.list-panel .inner .text {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-flex-shrink: 10;
  flex-shrink: 10;
  font-size: 17px;
}
.list-panel .inner .text.label {
  width: 35%;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.list-panel .inner .input {
  width: 100%;
}
.list-panel .inner .after {
  color: #8e8e93;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  font-size: 17px;
}
.list-panel .align-top,
.list-panel .align-top a,
.list-panel .align-top .inner {
  -webkit-align-items: stretch;
  align-items: stretch;
}
.list-panel .align-top .icons,
.list-panel .align-top a .icons,
.list-panel .align-top .inner .icons {
  margin-top: 7px;
}
.list-panel li:last-child .inner {
  border-bottom: 1px solid transparent;
}
.list-panel a {
  margin-left: -15px;
  display: block;
  padding-left: 15px;
  text-decoration: none;
  color: #000;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.list-panel a .inner {
  padding-right: 35px;
  background: url(../Image/framework7/i-right-grey.png) no-repeat -webkit-calc(100% - 15px) center;
  background-size: 8px auto;
}
.list-panel a:active {
  -webkit-transition: 0ms;
  -moz-transition: 0ms;
  -ms-transition: 0ms;
  -o-transition: 0ms;
  transition: 0ms;
  background: #d9d9d9;
}
.list-panel a:active .inner {
  border-bottom: 1px solid transparent !important;
}
.list-panel.list-panel-inset {
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 7px;
}
.list-panel.list-panel-inset .content-block-title {
  margin-left: 0;
  margin-right: 0;
}
.list-panel.list-panel-inset ul {
  border-radius: 7px;
  border-top: none;
  border-bottom: none;
}
.list-panel.list-panel-inset li:first-child a {
  border-radius: 7px 7px 0 0;
}
.list-panel.list-panel-inset li:last-child a {
  border-radius: 0 0 7px 7px;
}
.list-panel .list-panel-after {
  margin: 35px 0;
  margin-top: 10px;
  padding: 0 15px;
  font-size: 14px;
  color: #8f8f94;
}
.list-panel .content-block-title {
  margin-left: 15px;
  margin-right: 15px;
}
/* === Forms === */
.list-panel input[type="text"],
.list-panel input[type="password"],
.list-panel input[type="email"],
.list-panel input[type="tel"],
.list-panel input[type="date"],
.list-panel select,
.list-panel textarea {
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background: none;
  border-radius: 0 0 0 0;
  box-shadow: none;
  display: block;
  padding: 0px 0 0px 5px;
  margin: 0;
  width: 100%;
  height: 29px;
  line-height: 29px;
  color: #000;
  font-size: 17px;
  font-family: inherit;
}
.list-panel input[type="date"] {
  height: 29px;
}
.list-panel select {
  -webkit-appearance: none;
}
.list-panel .lable {
  vertical-align: top;
}
.list-panel textarea {
  height: 100px;
  resize: none;
  align-items: stretch;
}
.toggle {
  display: inline-block;
  vertical-align: middle;
  width: 52px;
  border-radius: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 32px;
  position: relative;
  cursor: pointer;
}
.toggle input[type="checkbox"] {
  height: 28px;
  width: 28px;
  border-radius: 30px;
  background: #fff;
  margin: 0;
  position: absolute;
  z-index: 10;
  top: 2px;
  left: 2px;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-animation: toggleAnimationOff 300ms forwards;
  -moz-animation: toggleAnimationOff 300ms forwards;
  -ms-animation: toggleAnimationOff 300ms forwards;
  -o-animation: toggleAnimationOff 300ms forwards;
  animation: toggleAnimationOff 300ms forwards;
}
.toggle input[type="checkbox"]:checked {
  -webkit-animation: toggleAnimationOn 300ms forwards 50ms;
  -moz-animation: toggleAnimationOn 300ms forwards 50ms;
  -ms-animation: toggleAnimationOn 300ms forwards 50ms;
  -o-animation: toggleAnimationOn 300ms forwards 50ms;
  animation: toggleAnimationOn 300ms forwards 50ms;
}
.toggle span.off {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 48px;
  border-radius: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 28px;
  background: #fff;
  z-index: 1;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.toggle span.on {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  border-radius: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 32px;
  background: #e5e5e5;
  z-index: 0;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.toggle input[type="checkbox"]:checked ~ span.off {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.toggle input[type="checkbox"]:checked ~ span.on {
  background: #4cd964;
}
@-webkit-keyframes toggleAnimationOff {
  100% {
    left: 2px;
    -webkit-transform: translate3d(0px, 0, 0) scale(1, 1);
    -moz-transform: translate3d(0px, 0, 0) scale(1, 1);
    -ms-transform: translate3d(0px, 0, 0) scale(1, 1);
    -o-transform: translate3d(0px, 0, 0) scale(1, 1);
    transform: translate3d(0px, 0, 0) scale(1, 1);
  }
  50% {
    -webkit-transform: translate3d(0px, 0, 0) scale(1.2, 1);
    -moz-transform: translate3d(0px, 0, 0) scale(1.2, 1);
    -ms-transform: translate3d(0px, 0, 0) scale(1.2, 1);
    -o-transform: translate3d(0px, 0, 0) scale(1.2, 1);
    transform: translate3d(0px, 0, 0) scale(1.2, 1);
  }
  0% {
    -webkit-transform: translate3d(0px, 0, 0) scale(1, 1);
    -moz-transform: translate3d(0px, 0, 0) scale(1, 1);
    -ms-transform: translate3d(0px, 0, 0) scale(1, 1);
    -o-transform: translate3d(0px, 0, 0) scale(1, 1);
    transform: translate3d(0px, 0, 0) scale(1, 1);
    left: 22px;
  }
}
@-webkit-keyframes toggleAnimationOn {
  0% {
    left: 2px;
    -webkit-transform: translate3d(0px, 0, 0) scale(1, 1);
    -moz-transform: translate3d(0px, 0, 0) scale(1, 1);
    -ms-transform: translate3d(0px, 0, 0) scale(1, 1);
    -o-transform: translate3d(0px, 0, 0) scale(1, 1);
    transform: translate3d(0px, 0, 0) scale(1, 1);
  }
  50% {
    -webkit-transform: translate3d(0px, 0, 0) scale(1.2, 1);
    -moz-transform: translate3d(0px, 0, 0) scale(1.2, 1);
    -ms-transform: translate3d(0px, 0, 0) scale(1.2, 1);
    -o-transform: translate3d(0px, 0, 0) scale(1.2, 1);
    transform: translate3d(0px, 0, 0) scale(1.2, 1);
  }
  100% {
    left: 22px;
    -webkit-transform: translate3d(0px, 0, 0) scale(1, 1);
    -moz-transform: translate3d(0px, 0, 0) scale(1, 1);
    -ms-transform: translate3d(0px, 0, 0) scale(1, 1);
    -o-transform: translate3d(0px, 0, 0) scale(1, 1);
    transform: translate3d(0px, 0, 0) scale(1, 1);
  }
}
.button {
  display: inline-block;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  text-align: center;
  display: block;
  border-radius: 5px;
  line-height: 27px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 29px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.button:active {
  -webkit-transition: 0ms;
  -moz-transition: 0ms;
  -ms-transition: 0ms;
  -o-transition: 0ms;
  transition: 0ms;
  opacity: 0.3;
}
.button.round {
  border-radius: 27px;
}
.button.active {
  background: #007aff;
  color: #fff;
}
.buttons-row {
  overflow: hidden;
}
.buttons-row .button {
  border-radius: 0 0 0 0;
  border-left: none;
  float: left;
}
.buttons-row .button:first-child {
  border-radius: 5px 0 0 5px;
  border-left: 1px solid #007aff;
}
.buttons-row .button:last-child {
  border-radius: 0 5px 5px 0;
}
.buttons-row .button.round:first-child {
  border-radius: 27px 0 0 27px;
}
.buttons-row .button.round:last-child {
  border-radius: 0 27px 27px 0;
}
.buttons-row.buttons-row-2 .button {
  width: 50%;
}
.buttons-row.buttons-row-3 .button {
  width: 33.33333333%;
}
.buttons-row.buttons-row-4 .button {
  width: 25%;
}
/* === Modals === */
.modal-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}
.modal-overlay.modal-overlay-visible {
  visibility: visible;
  opacity: 1;
}
.modal {
  width: 270px;
  position: absolute;
  z-index: 11000;
  left: 50%;
  margin-left: -135px;
  top: 50%;
  text-align: center;
  border-radius: 7px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  -webkit-transform: translate3d(0%, -50%, 0) scale(1.185);
  -moz-transform: translate3d(0%, -50%, 0) scale(1.185);
  -ms-transform: translate3d(0%, -50%, 0) scale(1.185);
  -o-transform: translate3d(0%, -50%, 0) scale(1.185);
  transform: translate3d(0%, -50%, 0) scale(1.185);
}
.modal.modal-in {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate3d(0%, -50%, 0) scale(1);
  -moz-transform: translate3d(0%, -50%, 0) scale(1);
  -ms-transform: translate3d(0%, -50%, 0) scale(1);
  -o-transform: translate3d(0%, -50%, 0) scale(1);
  transform: translate3d(0%, -50%, 0) scale(1);
}
.modal.modal-in .modal-button {
  pointer-events: auto;
  cursor: pointer;
}
.modal.modal-in .modal-input {
  pointer-events: auto;
}
.modal.modal-out {
  visibility: hidden;
  opacity: 0;
  z-index: 10999;
  -webkit-transform: translate3d(0%, -50%, 0) scale(0.815);
  -moz-transform: translate3d(0%, -50%, 0) scale(0.815);
  -ms-transform: translate3d(0%, -50%, 0) scale(0.815);
  -o-transform: translate3d(0%, -50%, 0) scale(0.815);
  transform: translate3d(0%, -50%, 0) scale(0.815);
}
.modal-inner {
  padding: 15px;
  border-bottom: 1px solid #b5b5b5;
  border-radius: 7px 7px 0 0;
  background: #e8e8e8;
}
.modal-buttons {
  height: 44px;
  overflow: hidden;
}
.modal-button {
  height: 44px;
  font-size: 17px;
  line-height: 44px;
  text-align: center;
  color: #007aff;
  background: #e8e8e8;
  display: block;
  pointer-events: none;
}
.modal-button.button-ok {
  font-weight: 500;
}
.modal-button:active {
  background: #d4d4d4;
}
.modal-alert .modal-button {
  border-radius: 0 0 7px 7px;
}
.modal-confirm .modal-button,
.modal-prompt .modal-button {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-confirm .modal-button:first-child,
.modal-prompt .modal-button:first-child {
  border-radius: 0 0 0 7px;
  border-right: 1px solid #b5b5b5;
}
.modal-confirm .modal-button:last-child,
.modal-prompt .modal-button:last-child {
  border-radius: 0 0 7px 0;
}
.modal-prompt input.modal-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  background: #fff;
  margin: 0;
  margin-top: 15px;
  padding: 0 5px;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
  display: block;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  pointer-events: none;
}
/* === Panels === */
.panel-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  visibility: hidden;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
  display: none;
}
.panel-wrap.panel-below {
  z-index: 1000;
}
.panel-wrap.panel-below.panel-left .panel {
  left: 0;
}
.panel-wrap.panel-below.panel-right .panel {
  right: 0;
}
.panel-wrap.panel-above {
  z-index: 6000;
}
.panel-wrap.panel-above.panel-left .panel {
  left: -260px;
}
.panel-wrap.panel-above.panel-right .panel {
  right: -260px;
}
.panel {
  background: #222;
  color: #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  z-index: 6000;
  width: 260px;
  top: 0;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}
.views {
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}
body.with-panel-left-below .panel-left {
  visibility: visible;
  pointer-events: auto;
}
body.with-panel-left-below .views {
  -webkit-transform: translate3d(260px, 0, 0);
  -moz-transform: translate3d(260px, 0, 0);
  -ms-transform: translate3d(260px, 0, 0);
  -o-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
}
body.with-panel-left-above .panel-left {
  visibility: visible;
  pointer-events: auto;
}
body.with-panel-left-above .panel-left .panel {
  -webkit-transform: translate3d(260px, 0, 0);
  -moz-transform: translate3d(260px, 0, 0);
  -ms-transform: translate3d(260px, 0, 0);
  -o-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
}
body.with-panel-left-above .views {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
body.with-panel-right-below .panel-right {
  visibility: visible;
  pointer-events: auto;
}
body.with-panel-right-below .views {
  -webkit-transform: translate3d(-260px, 0, 0);
  -moz-transform: translate3d(-260px, 0, 0);
  -ms-transform: translate3d(-260px, 0, 0);
  -o-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0);
}
body.with-panel-right-above .panel-right {
  visibility: visible;
  pointer-events: auto;
}
body.with-panel-right-above .panel-right .panel {
  -webkit-transform: translate3d(-260px, 0, 0);
  -moz-transform: translate3d(-260px, 0, 0);
  -ms-transform: translate3d(-260px, 0, 0);
  -o-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0);
}
body.with-panel-right-above .views {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.panel-left .content-block,
.panel-left .content-block-title,
.panel-left .list-panel-title {
  color: #dddddd;
}
.panel-left .list-panel ul {
  background: none;
}
.panel-left .list-panel ul,
.panel-left .list-panel .inner {
  border-color: rgba(255, 255, 255, 0.1);
}
.panel-left .list-panel a {
  color: inherit;
}
.panel-left .list-panel a:active {
  background: #000;
}
.panel-right .view {
  z-index: 100;
  position: absolute;
  overflow: visible;
}
.panel-right .content-block,
.panel-right .content-block-title,
.panel-right .list-panel-title {
  color: #dddddd;
}
.panel-right .toolbar-top {
  background: #000;
  border-bottom: 1px solid #333;
}
.panel-right .toolbar-top h1 {
  color: #007aff;
}
.panel-right .toolbar-top a {
  color: #fff;
}
.panel-right .page {
  background: #222;
}
.panel-right .list-panel ul {
  background: none;
}
.panel-right .list-panel ul,
.panel-right .list-panel .inner {
  border-color: rgba(255, 255, 255, 0.1);
}
.panel-right .list-panel a {
  color: inherit;
}
.panel-right .list-panel a:active {
  background: #000;
}
